@import "materialize/components/color";

$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color(#444, "base") !default;
@import 'materialize';

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.facebook {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 140px;
  height: 40px;
  padding-top: 10px;
  background: #3b5998;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.facebook:hover,
.facebook:focus {
  background: #37528c;
  color: #ffffff;
  text-decoration: none;
}

.facebook:active {
  background: #1ca4d6;
}

.facebook:before {
  content: "\0000a0";
  display: inline-block;
  height: 40px;
  width: 30px;
  position: relative;
  top: -10px;
  background: url("http://i.imgur.com/0bcxkOD.png") no-repeat center center;
  background-size: 13px 24px;
}

.google {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 140px;
  height: 40px;
  padding-top: 10px;
  background: #d34836;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.google:hover,
.google:focus {
  background: #c74534;
  color: #ffffff;
  text-decoration: none;
}

.google:active {
  background: #1ca4d6;
}

.google:before {
  content: "\0000a0";
  display: inline-block;
  height: 40px;
  width: 30px;
  position: relative;
  top: -10px;
  background: url("http://i.imgur.com/GxFF74f.png") no-repeat center center;
  background-size: 24px 24px;
}

.comment-content {
  margin-top: 60px;
  padding: 0px 20px;
  background: snow;
  border: wheat 1px solid;
  .comment-detail {
    word-wrap: break-word;
  }
}

.sub-comment-content {
  margin-left: 20px;
  margin-top: 5px;
  padding: 0px 20px;
  background: snow;
  border: wheat 1px solid;
  .comment-detail {
    word-wrap: break-word;
  }
}

.tour-card-img {
  height: 100%;
  margin-left: -12px;
}

.card-image {
  height: 260px;
}

.btn-search {
  width: 100%;
}

.booking-form {
  position: fixed;
  top: 100px;
}

.image-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.review-user {
  margin-top: 15px;
}

.review-name-text {
  font-size: 20px;
}

.btn-delete-place {
  margin-left: 10px;
}

.place-button {

}

.child-place {
  margin-left: 40px;
}

.collection {
  box-shadow: #2E2F30 ;
}
