<header class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to t("logo"), root_path, id: "logo-container", class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("log_in"), "#" %></li>
        <li><%= link_to t("sign_up"), "#" %></li>
      </ul>
    </div>
  </nav>
</header>
